/*include font*/
	@font-face {
		font-family: 'Merriweather_Bold';
		src: url('../font/Merriweather-Bold.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Light';
		src: url('../font/NunitoSans-Light.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Bold';
		src: url('../font/NunitoSans-Bold.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Regular';
		src: url('../font/NunitoSans-Regular.ttf');
		font-weight: normal;
		font-style: normal;
	}

/*default style*/
	* {
		box-sizing: border-box;
		line-height: 20px;
	}

	hr {
		border: none;
		border-bottom: 1px solid #f2f2f2;
	}

/*menu-humberger*/
	.menu-header__menu--humberger {
		margin-top: 30px;
		display: inline-block;
	}

	.menu-header__menu--humberger a {
		background-color: #2597d6;
		padding: 7px 10px;
		border-radius: 10px;
		transition: .1s ease-in-out
	}

	.menu-header__menu--humberger a:hover {
		background-color: #16577b;
	}

	.menu-header__menu--humberger a span {
		position: relative;
		bottom: -3px;
		display: inline-block;
		width: 25px;
		height: 3px;
		background-color: white;
	}

	.menu-header__menu--humberger a span:before {
		content: "";
		top: -7.6px;
		position: absolute;
		background-color: white;
		width: 25px;
		height: 3px;
	}

	.menu-header__menu--humberger a span:after {
		content: "";
		top: -15px;
		position: absolute;
		background-color: white;
		width: 25px;
		height: 3px;
	}

	@media (min-width: 501px) {
		.menu-humberger__hide--lg {
			display: none;
		}
	}

/*menu-header*/
	@media (max-width: 500px) {
		.menu-header--hide-sm {
			display: none;
		}

		.menu-header--hide-sm.menu-header--show-sm {
			display: block;
		}
	}

	.menu-header {
		position: absolute;
		width: 100%;
		font-family: NunitoSans_Regular;
	}

	.menu-header--right {
		float: right;
	}

	.menu-header li.menu-header__item {
		display: inline-block;
	}

	.menu-header li.menu-header__item a,
	.menu-header li.menu-header__logo {
		display: block;
		color: #f1f1f1;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10pt;
		letter-spacing: .3px;
	}

	.menu-header li.menu-header__item a {
		margin-top: 30px;
		padding: 10px 10px;
		transition: .1s ease-in-out;
	}

	.menu-header li.menu-header__item a:hover {
		color: #16577b;
	}

	.menu-header li:last-child.menu-header__item a {
		padding-right: 0;
	}

	.menu-header li.menu-header__logo {
		padding: 20px 10px;
		display: inline-block;
	}

	.menu-header li.menu-header__logo img {
		display: block;
		width: 50px;
	}

/*pembuka*/
	.pembuka {
		background-color: #02283d;
		background-image: radial-gradient(#02283d, #002030);
		color: #f1f1f1;
		padding: 200px 0;
		padding-bottom: 300px;
		text-align: center;
	}

	.pembuka__assalamualaikum {
		font-size: 25pt;
		font-family: Merriweather_Bold;
		font-weight: bold;
		word-wrap: break-word;
	}

	.pembuka__nama {
		margin-top: 2px;
		font-family: NunitoSans_Bold;
		font-weight: bold;
		font-size: 23pt
	}

	.pembuka__job {
		margin-top: 12px;
		font-family: NunitoSans_Light;
		color: #f2e146;
	}

/*tentang saya*/
	.tentang-saya {
		margin-top: -120px;
		background-color: white;
		padding: 20px;
		border-radius: 20px;
		margin-bottom: 100px;
	}

	.tentang-saya__foto--container {
		width: 70%;
		margin-left: 15%;
	}

	.tentang-saya__foto {
		background-color: #2db3fc;
		border-radius: 50%;
		border-bottom-left-radius: 20%;
		border-bottom-right-radius: 20%;
		clip-path: polygon(20% 0%, 200% 0%, 60% 100%, 0 100%);
	}

	.tentang-saya__foto img {
		width: 100%;
		margin-left: 10%;
	}

	.tentang-saya__caption p {
		line-height: 1.6em;
		font-size: 14pt;
		color: #333;
		font-family: NunitoSans_Light;
	}

	.tentang-saya__caption {
		margin-top: 50px;
	}

	.tentang-saya__caption h1 {
		position: relative;
		font-size: 20pt;
		font-family: Merriweather_Bold;
		margin-bottom: 30px;
		color: #2597d6;
	}

	.tentang-saya__caption h1:before {
		content: "";
		position: absolute;
		top: 35px;
		width: 50px;
		height: 4px;
		background-color: #2597d6;
		border-radius: 4px;
	}

/*pendidikan*/
	.pendidikan{
		margin-bottom: 50px;
	}

	.pendidikan__judul {
		font-family: Merriweather_Bold;
		font-size: 20pt;
		color: #333;
		margin-bottom: 25px;
		text-align: center;
	}

	.pendidikan__item {
		border: 1px solid #f2f2f2;
		padding: 20px;
		border-radius: 10px;
		font-family: NunitoSans_Regular;
	}

	.pendidikan__item--active {
		border: 1px solid #d5e8f2;
	}

	.pendidikan__item h1 {
		margin-bottom: 5px;
	}

	.pendidikan__item h2 {
		margin-bottom: 10px;
		color: #2597d6;
	}

	.pendidikan__item h3 {
		color: #aaa
	}

	.pendidikan__item h3 span {
		color: #2597d6;
	}

/*responsive*/
	.container {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 576px) {
	  	.container {
	    	max-width: 540px;
	  	}
	}

	@media (min-width: 768px) {
	  	.container {
	    	max-width: 720px;
	  	}
	}

	@media (min-width: 992px) {
	  	.container {
	    	max-width: 960px;
	  	}
	}

	@media (min-width: 1200px) {
	  	.container {
	    	max-width: 1140px;
	  	}
	}

	[class*="col-"] {
		width: 100%;
		float: left;
		padding: 15px;
	}

	@media only screen and (min-width: 600px){
		.col-m-1{width: 8.33%}
		.col-m-2{width: 16.66%}
		.col-m-3{width: 25%}
		.col-m-4{width: 33.33%}
		.col-m-5{width: 41.66%}
		.col-m-6{width: 50%}
		.col-m-7{width: 58.33%}
		.col-m-8{width: 66.66%}
		.col-m-9{width: 75%}
		.col-m-10{width: 83.33%}
		.col-m-11{width: 91.66%}
		.col-m-12{width: 100%}
	}

	@media only screen and (min-width: 768px){
		.col-l-1{width: 8.33%}
		.col-l-2{width: 16.66%}
		.col-l-3{width: 25%}
		.col-l-4{width: 33.33%}
		.col-l-5{width: 41.66%}
		.col-l-6{width: 50%}
		.col-l-7{width: 58.33%}
		.col-l-8{width: 66.66%}
		.col-l-9{width: 75%}
		.col-l-10{width: 83.33%}
		.col-l-11{width: 91.66%}
		.col-l-12{width: 100%}
	}

	.pendidikan--nopadding-l {
		padding-left: 0;
	}

	.pendidikan--nopadding-r {
		padding-right: 0;
	}

/*clear float*/
	.cf:before,
	.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
	}

	.cf:after {
	clear: both;
	}

	/* for IE 6/7 only */
	.cf {
	*zoom: 1;
	}

/*utilitis*/
	.mt-20 {
		margin-top: 20px;
	}