/*include font*/
	@font-face {
		font-family: 'Merriweather_Bold';
		src: url('../font/Merriweather-Bold.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Light';
		src: url('../font/NunitoSans-Light.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Bold';
		src: url('../font/NunitoSans-Bold.ttf');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'NunitoSans_Regular';
		src: url('../font/NunitoSans-Regular.ttf');
		font-weight: normal;
		font-style: normal;
	}

/*default style*/
	* {
		box-sizing: border-box;
		line-height: 20px;
	}

	hr {
		border: none;
		border-bottom: 1px solid #eaeaea;
	}

	a:hover {
		cursor: pointer;
	}

/*responsive*/
	.container {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	@media (min-width: 576px) {
	  	.container {
	    	max-width: 540px;
	  	}
	}

	@media (min-width: 768px) {
	  	.container {
	    	max-width: 720px;
	  	}
	}

	@media (min-width: 992px) {
	  	.container {
	    	max-width: 960px;
	  	}
	}

	@media (min-width: 1200px) {
	  	.container {
	    	max-width: 1140px;
	  	}
	}

	[class*="col-"] {
		width: 100%;
		float: left;
		padding: 15px;
	}

	@media only screen and (min-width: 600px){
		.col-m-1{width: 8.33%}
		.col-m-2{width: 16.66%}
		.col-m-3{width: 25%}
		.col-m-4{width: 33.33%}
		.col-m-5{width: 41.66%}
		.col-m-6{width: 50%}
		.col-m-7{width: 58.33%}
		.col-m-8{width: 66.66%}
		.col-m-9{width: 75%}
		.col-m-10{width: 83.33%}
		.col-m-11{width: 91.66%}
		.col-m-12{width: 100%}
	}

	@media only screen and (min-width: 768px){
		.col-l-1{width: 8.33%}
		.col-l-2{width: 16.66%}
		.col-l-3{width: 25%}
		.col-l-4{width: 33.33%}
		.col-l-5{width: 41.66%}
		.col-l-6{width: 50%}
		.col-l-7{width: 58.33%}
		.col-l-8{width: 66.66%}
		.col-l-9{width: 75%}
		.col-l-10{width: 83.33%}
		.col-l-11{width: 91.66%}
		.col-l-12{width: 100%}
	}

/*clear float*/
	.cf:before,
	.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
	}

	.cf:after {
	clear: both;
	}

	/* for IE 6/7 only */
	.cf {
	*zoom: 1;
	}

/*utilitis*/
	.mt-20 {
		margin-top: 20px;
	}