@mixin font-face($font-name, $font-family) {
	@font-face {
	    font-family: $font-family;
	    src: url('../font/'+$font-name+'.eot');
	    src: url('../font/'+$font-name+'.eot?#iefix') format('embedded-opentype'),
	         // url('../font/'+$font-name+'.woff2') format('woff2'),
	         url('../font/'+$font-name+'.woff') format('woff'),
	         url('../font/'+$font-name+'.ttf') format('truetype'),
	         url('../font/'+$font-name+'.svg#pt_sansbold_italic') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
}

@include font-face('pt-sans-fontfacekit/web fonts/ptsanscaption_bold_macroman/PTC75F-webfont','pt_sans_captionbold');
@include font-face('pt-sans-fontfacekit/web fonts/ptsanscaption_regular_macroman/PTC55F-webfont','pt_sans_captionregular');