/* grid */
@mixin col($break-point) {
	.col-#{$break-point}1 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 8.333333%; 
        flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-#{$break-point}2 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 16.666667%; 
        flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-#{$break-point}3 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 25%; 
        flex: 0 0 25%;
		max-width: 25%;
	}

	.col-#{$break-point}4 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 33.333333%; 
        flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-#{$break-point}5 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 41.666667%; 
        flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-#{$break-point}6 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 50%; 
        flex: 0 0 50%;
		max-width: 50%;
	}

	.col-#{$break-point}7 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 58.333333%; 
        flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-#{$break-point}8 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 66.666667%; 
        flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-#{$break-point}9 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 75%; 
        flex: 0 0 75%;
		max-width: 75%;
	}

	.col-#{$break-point}10 {
		-webkit-box-flex: 0; 
   		-ms-flex: 0 0 83.333333%; 
        flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-#{$break-point}11 {
		-webkit-box-flex: 0; 
    	-ms-flex: 0 0 91.666667%; 
        flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-#{$break-point}12 {
		-webkit-box-flex: 0; 
   		-ms-flex: 0 0 100%; 
        flex: 0 0 100%;
		max-width: 100%;
	}
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin-left: -15px;
	margin-right: -15px;
}

[class*="col-"] {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@include col('');

@media (min-width: 576px) {
	@include col('sm-');
}

@media (min-width: 768px) {
	@include col('md-');	
}

@media (min-width: 992px) {
	@include col('lg-');	
}