/* header */
.header {
	&__logo {
		text-align: center;
	}

	&__card {
		display: flex;
		flex-direction: column-reverse;
	}

	&__summary,
	&__photo-profile,
	&__profile {
		border: 1px solid $border-color;
		border-radius: $border-radius;
	}

	&__photo-profile,
	&__caption,
	&__name {
		background-color: white;
	}

	&__title,
	&__description,
	&__caption,
	&__name {
		padding: 9px $padding;
	}

	&__summary {
		overflow: hidden;
	}

	&__title {
		background-color: $gray-background;
		border-bottom: 1px solid $border-color;
	}

	&__description {
		background-color: #fff;
	}

	&__photo-profile {
		padding: $padding;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	&__name {
		border-top-right-radius: $border-radius;
		border-top-left-radius: $border-radius;
	}

	&__contact {
		display: flex;
		text-align: center;

		a {
			position: relative;
			flex: 1;
			text-decoration: none;
			display: inline-block;
			padding: 10px;
			color: #333;
			background-color: $gray-background;
			border: 1px solid $border-color;
			border-bottom: none;
			line-height: 0;

			transition: 100ms ease-in-out;

			&:first-child,
			&:last-child {
				border-right: none;
				border-left: none;
			}

			&:first-child {
				border-bottom-left-radius: $border-radius;
			}

			&:last-child {
				border-bottom-right-radius: $border-radius;
			}

			&:hover {
				background-color: #f4f4f4;
			}
		}
	}

	&__tooltip {
		display: none;

		position: absolute;
		top: 40px;
		left: 0px;
		padding: $padding;
		background-color: #fff;
		z-index: 2;
		border-radius: $border-radius;
		line-height: 1.5;
		text-align: left;
		border: 1px solid $border-color;

		&::before {
			content: '';
			position: absolute;
			width: 15px;
			height: 15px;
			background-color: white;
			border: 1px solid $border-color;
			border-bottom: none;
			border-right: none;
			transform: rotateZ(45deg);
			top: -8px;
			left: 30px;
		}
		
		@media (min-width: 336px) {
			&--address {
				width: 200px;
			}
		}

		@media (max-width: 575.98px) {
			&--email {
				left: auto;
				right: 0;

				&::before {
					left: auto;
					right: 30px;
				}
			}
		}
	}

	&__contact a:hover &__tooltip {
		display: block;

		animation: tooltip-fade 100ms ease-in-out;
	}

	@keyframes tooltip-fade {
		0%{
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}