/* project */
.project {
	&__item {
		border-radius: $border-radius;
		overflow: hidden;
		border: 1px solid $border-color;
	}

	&__image {
		line-height: 0;
		border-bottom: 1px solid $border-color;
		background-color: $gray-background;

		img {
			width: 100%;
			line-height: 1.5;
		}
	}

	&__description {
		background-color: white;
		padding: 9px $padding;
	}

	&__tag {
		padding: 0 5px;
		border-radius: $border-radius;
		background-color: #d1edfc;
		display: inline-block;
	}

	&__button {
		display: -webkit-box; 
		display: -ms-flexbox; 
		display: flex;

		border-top: 1px solid $border-color;
	}

	&__primary-btn,
	&__secondary-btn {
		text-decoration: none;
		padding: 10px $padding;
		color: #007ec4;
		background-color: $gray-background;

		-webkit-transition: 100ms ease-in-out; 
		-o-transition: 100ms ease-in-out; 
		transition: 100ms ease-in-out;

		&:hover {
			background-color: #f4f4f4;
		}

		svg {
			display: inline-block;
			vertical-align: text-bottom;
		}
	}

	&__primary-btn {
		-webkit-box-flex: 6; 
    	-ms-flex: 6; 
        flex: 6;

		border-right: 1px solid $border-color;
	}

	&__secondary-btn {
		-webkit-box-flex: 1; 
    	-ms-flex: 1; 
        flex: 1;

		line-height: 0;
		text-align: center;

		&--mt {
			margin-top: .15rem;
		}
	}
}