/* skill */
.skill__item {
	border-radius: $border-radius;
	overflow: hidden;

	position: relative;
	z-index: 1;
	transition: 100ms ease-in-out;
	border: 1px solid $border-color;

	&:hover {
		z-index: 2;
	}

	&--php h5, &--html h5, &--git h5, &--css h5, &--mariadb h5, &--github h5, &--bootstrap h5, &--scss h5, &--codeigniter, &--js h5, &--laravel h5, &--restfulapi h5, &--oop h5 {
		transition: 100ms ease-in-out;		
	}

	&--php:hover h5 { color: #777bb3; }
	&--html:hover h5 { color: #e44d26; }
	&--git:hover h5 { color: #f34f29; }
	&--css:hover h5 { color: #2062af; }
	&--mariadb:hover h5 { color: #003545; }
	&--github:hover h5 { color: #ac5c51; }
	&--bootstrap:hover h5 { color: #673f98; }
	&--scss:hover h5 { color: #cd669a; }
	&--codeigniter:hover h5 { color: #ee4323; }
	&--js:hover h5 { color: #e7a42b; }
	&--laravel:hover h5 { color: #f35045; }
	&--restfulapi:hover h5 { color: #8cc63f; }
	&--oop:hover h5 { color: #d53d1f; }
}

.skill__category-title {
	font-weight: 100;
	font-family: pt_sans_captionregular, Arial, sans-serif;
	font-size: 1.10rem;
}

.skill__title,
.skill__description {
	padding: 9px $padding;
}

.skill__description {
	background-color: $gray-background;
	border-top: 1px solid $border-color;
}