/* utilities */
.justify-content-center {
	justify-content: center;
}

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: .25rem; }
.mb-2 { margin-bottom: .5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: .25rem; }
.mt-2 { margin-top: .5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
.mt-5 { margin-top: 3rem; }

@media (min-width: 576px) {
	.mb-sm-0 { margin-bottom: 0; }
	.pl-sm-0 { padding-left: 0; }
}

@media (min-width: 768px) {
	.pl-md-0 { padding-left: 0; }
}

@media (min-width: 992px) {
	.mt-lg-0 { margin-top: 0; }
}